body {
    display: flex;
    flex-direction: column;
}

#middle {
    display: flex;
}

#map-view {
    height: 95vh;
    width: 80%;
    background-color: #eee;
    margin-right: 10px;
}

#info-view {
    height: 200px;
    width: 20%;
    min-width: 300px;
    background-color: #ccc;
}

#status-view {
    display: flex;
    justify-content: space-between;
}